<div class="security-overlay" id="loginPasswordModal">
    <div class="security-box">
        <div class="security-header">
            <span>Edit Login Password</span>
            <button type="button" onclick="closeLoginPasswordModal()">×</button>
        </div>

        <form method="POST" id="loginPasswordForm">
            {% csrf_token %}

            <div class="security-body">
                <label>New login password</label>
                <input type="password" name="new_password" required>
            </div>

            <div class="security-footer">
                <button type="submit" class="security-submit">Submit</button>
                <button type="button" class="security-cancel" onclick="closeLoginPasswordModal()">Cancel</button>
            </div>
        </form>
    </div>
</div>

<script>
function openLoginPasswordModal(profileId){
    document.getElementById('floatingOperateMenu').style.display = 'none';
    document.getElementById('loginPasswordForm').action = '/staff/user/' + profileId + '/login-password/';
    document.getElementById('loginPasswordModal').style.display = 'block';
}

function closeLoginPasswordModal(){
    document.getElementById('loginPasswordModal').style.display = 'none';
}
</script>
